/* import fuentes  */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');


/*
Botones, hover: #FF00BF
Fondo de footer: #333447
Título del formulario: #352384
Texto del formulario: #728099
Gradiente morado: linear-gradient(#76278F, #2B1E66);

font-family: 'Montserrat', sans-serif;
*/



body{

	margin:0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-image:url("../assets/images/hero.gif");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #76278F;
    background-position: 30% -4.2% ; 
}

h1{

  text-transform: uppercase;
  font-weight: 500;
  font-size: 38px;
  margin: 10px 0 ;
  color: #352384;
  text-align: left;
  line-height: 1em;
}

h2{

  text-transform: uppercase;
  font-weight: 400;
  font-size: 26px;
 

}

a{

	text-decoration: none;
}



header{
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0.5% 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.05) 93%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.05) 93%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.05) 93%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}


header a{
 
   color: white;

}

header a:hover{
 
   color: #FF00BF;

}


 .logo{

   width: 64px;
   height: 45px;
   background-image: url("../assets/images/logo-white.png");
   background-size: 100% auto;
   background-repeat: no-repeat;
   position: fixed;
   top: 33px;
   right: 89%;

 }


ul{

  list-style: none;
  font-weight: 200;
  font-size: 1.05em;
  letter-spacing: 0.03em;

}


li{

   display: inline-block;
   margin: 15px;

 }

 li:last-child{

   padding: 10px 20px;
   border: 1px solid white; 
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;


 }

 nav{

   padding-right: 12%;
   float: right;

 }


 /***** SECCIONES ******/

 section{

 	width: 100%;
 	height: auto;
 }


 /*  SECCION HOME */

 #home{

  text-align: left;
  color: white;
  background: -moz-linear-gradient(top, rgba(118,39,143,0.01) 73%, rgba(118,39,143,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(118,39,143,0.01) 73%,rgba(118,39,143,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(118,39,143,0.01) 73%,rgba(118,39,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0376278f', endColorstr='#76278f',GradientType=0 ); /* IE6-9 */
  
 }

 .register{
    
    width: 33%;
    height: auto;
    padding: 50px 55px 30px;
 	background-color: white;
 	margin-top: 110px;
 	margin-left: 59%;

 }

  .register h3{

  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
  color: #352384;

  
 }

 .register a{

  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
  color: grey;
  text-decoration: underline;
  display: inline-block;

 }


 .register a:hover{

  color: #76278F;
  
 }


 .register p{

  font-weight: 300;
  font-size: 10px;
  margin-top: 5px;
  color: grey;
  line-height: 0.2em;

 }


.register p a {

    font-weight: 300;
    font-size: 10px;
	color:#FF00BF;
	margin-left: 0;
	text-decoration:none;
}

.register p a:hover{

	color:#352384;
	text-decoration:underline;
	
}


 .botone{

 	display: inline-block;
 }

 input{  /*  registro */


    width: 410px;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #352384;
    font-size: 14px;
    margin-top: 7px;
    margin-left: 0;
    color: #b2b2b2;

}

button{ /*  ESTILO BOTÓN REGISTRO  */


    padding: 15px 20px;
    margin-top: 30px;
    background-color: #FF00BF;
    border: none;
    font-size:15px;
    font-weight: 100;
    color: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

}


/* SECCION PRO (BENEFICIOS)*/


#pro{

  padding: 2% 12% 4%;
  color: white;
  text-align: left;
  background: #76278f; 
  background: -webkit-linear-gradient(top,#76278f,#2b1e66); 
  background: -o-linear-gradient(top,#76278f,#2b1e66); 
  background: -moz-linear-gradient(top,#76278f,#2b1e66); 
  background: linear-gradient(to bottom, #76278f, #2b1e66);
  
 }


#pro .col{

	width: 35%;
	height: auto;
	display: inline-block;
	vertical-align: top;



}


#pro h2{

  margin-top: 13%;
  margin-bottom: 1%;
  

 }

#pro p{

  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  

 }

 .col img{

  width: 100%;
  height: auto;
  padding-top: 10%;
  margin-left: 15%;
  

 }

 /* SECCIONES VIDEOS */

 #video{

 	width: 100%;
 	height: auto;
 	margin: 0;
 	padding: 0;
 	background-color: white;

 }

 #video h2{

 	color: black;
 	font-weight: 500;
 	margin-top: 0;
 }

 #video h3{

 	color: black;
 	font-weight: 700;
 	font-size: 11px;
 	margin: 0;
 }

 #video p{

 	color: black;
 	letter-spacing: 0;
 	font-size: 15px;
 	margin-bottom: 0;
 	line-height: 1.5em;
 }
 

 #video .col{

	width: 25%;
	height: auto;
	display: inline-block;
	padding: 2% 4% 0;
	vertical-align: top;
}

iframe{
	border:0;
}


/* FOOTER */


footer{

	width: 100%;
	height: auto;
	background-color: #333447 ;
	padding-left: 10%;
}


 footer .col{

	width: 15%;
	height: auto;
	display: inline-block;
	margin-top: 2%;
	margin-left: 4%;
	
}

footer .col:first-child{

	margin-left: 0;
}



footer a{

	display:block;
	padding: 0;
	color: white;
	font-weight: 200;
	line-height: 3em;
	font-size: 15px;

}

footer a:hover{

	color: #FF00BF;
	text-decoration: underline;

}

footer h3{

	font-weight: 300;
	margin-top: 0;
	margin-bottom: 10px;
	color: white;
}

footer a h3 {

   display: inline-block;
   margin-top: 0;
   padding-top:15px;
   margin-bottom: 0;
}

footer a h3:hover{

    color: white;
	text-decoration: underline;
	text-decoration-color: #FF00BF;
}



footer .col img{

	width: 65%;
	height: auto;
	margin-left: 0;

}

.colofon{

	width: 80%;
	height: auto;
	margin-top: 6%;
	text-align: center;
	padding-bottom: 3%;

}

.colofon p{

	color: white;
	font-weight: 300;
	font-size: 15px;
}

.rrss{

	width: 30%;
	height: auto;
    display: inline-block;
    margin-bottom: 22px;
}

hr{

	width: 71%;
	margin-bottom: 45px;
}

















